.auto-width-label[data-v-401d2617]{display:inline-flex;width:auto;white-space:nowrap;align-items:center}.date-input[data-v-401d2617]{width:100%}.filter-button[data-v-401d2617]{height:2.5rem;white-space:nowrap}
