.auto-width-label[data-v-2ada44d8]{display:inline-flex;width:auto;white-space:nowrap;align-items:center}.truncate-text[data-v-2ada44d8]{max-width:320px;display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
