body {
  font-family: var(--font-family);
}

.two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.three-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.four-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.five-columns {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

:root {
  --top-panel-height: 5rem;
  --side-bar-width: 220px;
  --side-bar-collapsed-width: 50px;
}

.grid_add_row_button {
  position: fixed !important;
  right: 2rem !important;
  z-index: 1 !important;
}
.grid_delete_column_button {
  color: var(--red-600);
  cursor: pointer;
}

.p-password > input {
  width: 100% !important;
}

.p-calendar {
  display: flex !important;
}

.p-calendar > input {
  width: 100% !important;
}

table > tbody > tr {
  font-size: 0.8rem !important;
}

.filter-field {
  font-size: 0.8rem !important;
}
